@charset "UTF-8";
html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
.sendForm {
	width: 30%;
	margin: auto;
	font-family: "Open Sans";
	padding: 3%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.form-accSend {
	width: 100%;
	height: 30px;
	display: block;
	border-radius: 30px;
	border: 1px solid #ced4da;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
}

.form-accSend:active, .form-accSend:focus {
	outline: 1px solid #007bff;
}

.sendDiv {
	margin-bottom: 30px;
}

.sendbtnDiv {
	text-align: center;
}
label {
	color: #000;
	margin-bottom: 0.5rem;
	font-size: 16px;
}

.btnSubmit {
	background-color: #007bff;
	border: none;
	color: #fff;
	font-size: 16px;
	border-radius: 30px;
	color: #fff;
	font-size: 16px;
	border-radius: 30px;
	padding: 10px 30px;
	font-weight: 400;
}

.o {
	margin: 5rem 0;
}
.n {
	margin: 8rem 0;
}
.d {
	text-align: center;
	margin-top: 4rem;
}

.parent {
	width: 60%;
	margin: 10px auto;
	display: flex;
	height: 50%;
	margin-top: 4rem;
}

.first {
	flex: 1;
	margin: 0px 2%;
	width: 30%;
	box-sizing: border-box;
}

.second {
	flex: 1;
	margin: 0px 2%;
	width: 30%;
	box-sizing: border-box;
}

.third {
	flex: 1;
	margin: 0px 2%;
	width: 30%;
	box-sizing: border-box;
}

.bg {
	background-color: white;
	border-radius: 20px 20px;
	box-shadow: 5px 5px 10px grey;
}

.a {
	transition: all 0.2s linear;
}

.a:hover {
	transform: scale(1.1);
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	/* 숨기기 */
	z-index: -1;
	opacity: 0;
}

.show {
	opacity: 1;
	z-index: 1000;
	transition: all .5s;
}

.window {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
}

.show .popup {
	transform: translate(-50%, -50%);
	transition: all .5s;
}

/*   팝업 임시 버튼 스타일  */
.btn-box .btn-open {
	display: block;
	width: 200px;
	height: 50px;
	margin: 80px auto 0;
	line-height: 50px;
	background: #333;
	text-align: center;
}

.btn-box .btn-open span {
	color: #fff;
}

/* 팝업 스타일 */
.modal-bg {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 999;
}

.modal-wrap {
	display: none;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 600px;
	background: #fbfbfd;
	border-radius: 30px;
	border: 5px solid #007bff;
	z-index: 1000;
}

#divPaging>div {
	float: left;
	width: 30px;
	margin: 0 auto;
	text-align: center;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
#table1 {
	width: 90%;
	margin: auto;
}
html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}

.paging{
width: 15%;
margin: auto;
}
