html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
.noticeTitle {
	margin-top: 10%;
	font-size: 1.5rem;
	font-weight: bold;
	display: inline-block;
	margin-left: 10%;
}

.noticeDetail {
	margin-top: 10%;
	border: 1px solid #eee;
}

table {
	width: 80%;
	margin: auto;
	margin-bottom: 10%;
	border-collapse: collapse;
	text-align: center;
}

th, td {
	padding: 1.5%;
	border-bottom: 1px solid #eee;
}

th {
	background-color: #dadada;
	height: 5%;
}
.clickList:hover {
	background-color: #f3f3f3;
}
td {
	border-radius: 3px;
	margin: 1px;
}

.detailTitle {
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	background-color: #fff;
}

.detailDate {
	text-align: right;
	color: #a9a9a9;
	font-size: 14px;
	width: 20%;
}

.detailContent {
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: left;
	color: #141414;
}

.clickList {
	cursor: pointer;
}

.col1 {
	width: 5%;
}

.col2 {
	width: 8%;
}

.col3 {
	width: 50%;
}